@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center w-100">
    <div class="d-flex">
        <img src="~/imgs/chicken.jpg" style="max-width: 150px; min-width: 100px; height: auto">
        <div class="d-flex flex-column align-items-start">
            <h1>НАЗВАНИЕ НОВОСТИ</h1>
            <p>Текст-превью новости</p>
            <p>(&lt;- примерный вид картинки-превью)</p>
        </div>

    </div>
</div>
